.layout {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  margin: 25px;
  background-color: #fff;
  height: auto;
}

body,
#root {
  height: 100%;
  background-color: #f0f2f5;
}

.carContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #ddd;
}

.carContainerFirst {
  margin-bottom: 10px;
}

.car1,
.car2 {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.carEmojiContainer {
  width: 100%;
  transition-property: width;
  transition-timing-function: linear;
  text-align: right;
  transition-duration: 5s;
}

.carEmoji {
  transform: scale(-1, 1);
}

.complete {
  width: 0%;
}

.track {
  background: limegreen;
  padding: 10px;
  border-radius: 10px;
  font-size: 24px;
}
